{% extends '::frontend.html.twig' %}
{% block title %}Listing Evidences {% endblock %}
{% block article %}
    {% include 'MelanomamineFrontendBundle:Search:tags_code.html.twig' %}
    {% set tooltipCounter=1 %}
    {% set stringStickyTooltip = "" %}
    <div id="evidences">
        {% if resultSetAbstracts | length != 0 %}
            {% if resultSetAbstracts.getTotalHits != 0 %}
                <div id="abstractsResults">
                    <a name="abstracts"></a>
                    <h3>Ranked Abstracts for "<span class="underline">{{ entityName }}</span>" keyword search</h3>
                     <div class="results-summary">
                    {% set totalHits = resultSetAbstracts.getTotalHits %}
                    {% set scoreToShow = orderBy | getScoreToShow %}
                    <table>
                        <tr>
                            <td><strong>Number of Abstracts displayed:</strong> {{ hitsShowed }}</td>
                        </tr>
                        <tr>
                            <td><strong>Query time:</strong> {{ totalTime }} ms.</td>
                        </tr>
                        <!--  {% if totalHits > 150 %}
                            <tr>
                                {% set totalHits = resultSetAbstracts.getTotalHits %}
                                <td colspan="5"><strong>Number of Abstracts:</strong> {{ totalHits }}. (All above scores are for the {{hitsShowed}} displayed hits). <br/>Click here to display all results</td>
                            </tr>
                        -->
                        {% endif %}
                    </table>
                </div>
                    <div class="clear-both"></div>
                    <table id="tableResults" class="tablesorter">
                        <thead>
                            <th>Pubmed Link</th>
                            <th>Score</th>
                            <th>Title</th>
                            <th>Abstract</th>
                        </thead>
                        <tbody>
                            {% set contador = 1 %}


                            {{ stringHtml | raw }}





                        </tbody>
                    </table>
                    <!-- here pagination block for abstracts -->
                    <div class="pagination">
                        {{ simple_paginator_render(
                            'search_keywords', 'abstracts',
                                {
                                    'routeParams' : {'entityType' : entityType, 'whatToSearch' : whatToSearch, 'entityName' : entityName},
                                    'container_class' : 'pagination'
                                }
                            )
                        }}
                    </div>
                </div>
            {% endif %}
        {% endif %}
        {# Here we rebuild the stringStickyTooltip inside its container divs #}
        <div id="mystickytooltip" class="stickytooltip">
            <div style="padding:5px">
                {{ stringStickyTooltip | raw }}
            </div>
            <div class="stickystatus"></div>
        </div>
    {% include 'MelanomamineFrontendBundle:Search:scripts_code.html.twig' %}
{% endblock %}