{% extends '::frontend.html.twig' %}
{% block title %}Listing Evidences {% endblock %}
{% block article %}
    {% include 'MelanomamineFrontendBundle:Search:tags_code.html.twig' %}
    {% set tooltipCounter=0 %}
    {% set stringStickyTooltip = "" %}

    <div id="evidences">
        {% if resultSetAbstracts | length != 0 %}
            {% if resultSetAbstracts.getTotalHits != 0 %}
                <div id="abstractsResults">
                    <a name="abstracts"></a>
                    <h3>Ranked Abstracts for "<span class="underline">{{ entityName }}</span>" {#  {{ entityType | capitalize }} search</h3> #}
                    <div class="btmspc-dbl">
                        <small>
                            <em>
                                Entity mentions are highlighted as follows:
                                <mark class="termSearched">What you searched</mark>, <span class="genes_highlight">Genes</span>, <span class="mutations_highlight">Mutations</span>, <span class="chemicals_highlight">Chemicals</span>, <span class="diseases_highlight">Diseases</span>, <span class="mutatedProteins_highlight">Mutated Proteins</span>, , <span class="species_highlight">Species</span>
                            </em>
                            .
                        </small>
                    </div>
                     <div class="results-summary">
                    {% set totalHits = resultSetAbstracts.getTotalHits %}
                    <table>
                        {% if totalHits > 1500 %}
                            <tr>
                                {% set totalHits = resultSetAbstracts.getTotalHits %}
                                <td colspan="5"><strong>Number of Abstracts:</strong> {{ totalHits }}. Only the first 500 are shown. <br/><span class="grey">(Click here to display all results)</span></td>
                            </tr>
                        {% else %}
                            <tr>
                                <td><strong>Number of Abstracts:</strong> {{ hitsShowed }}</td>
                            </tr>
                        {% endif %}

                        <tr>
                            <td><strong>Query time:</strong> {{ totalTime }} ms.</td>
                        </tr>


                    </table>
                    Summary Table:  (<a href="{{ path('download_summary_table', {'filenameSummaryTable': filenameSummaryTable}) }}" >Download table</a>)<br>
                    {{ summaryTable | raw }}
                </div>
                    <div class="clear-both"></div>
                    <table id="tableResults" class="tablesorter">
                        <thead>
                            <th>Pubmed Link</th>
                            <th>Score</th>
                            <th>Title</th>
                            <th>Abstract</th>
                        </thead>
                        <tbody>
                            {% set contador = 1 %}
                            {% for result in arrayResultsAbs %}
                                <tr class="document {{ cycle(['odd', 'even'], contador) }}">
                                    {% set contador = contador + 1 %}
                                    {% set source = result.getSource %}
                                    {% set pmid = source["pmid"]  %}
                                    {% set title = source["title"]  %}
                                    {% set text = source["text"]  %}
                                    {% set score = source["melanoma_score_new"] %}
                                    {% set offset = title | length + 1%}
                                    {% set imageRoute = 'images/pubmed.png' %}
                                    {% set link="http://www.ncbi.nlm.nih.gov/pubmed/" ~ pmid %}

                                    <td><a href="{{ link }}" target="_blank"><img src="{{ asset(imageRoute) }}" class="outlinkLogo"/></a></td>
                                    <td class="center">{{ score }}</td>
                                    {% set arrayHighlightedTitle = title | retrieveHighlighted (source, entityName, 0, "title", tooltipCounter) %}
                                    {% set title = arrayHighlightedTitle[0] %}
                                    {% set tooltip = arrayHighlightedTitle[1] %}
                                    {% set stringStickyTooltip = stringStickyTooltip ~tooltip %}
                                    {% set tooltipCounter = arrayHighlightedTitle[2] %}

                                    <td>{{ title | raw }}</td>
                                    {% set arrayHighlightedText = text | retrieveHighlighted (source, entityName, offset, "text", tooltipCounter) %}
                                    {% set text = arrayHighlightedText[0] %}
                                    {% set tooltip = arrayHighlightedText[1] %}
                                    {% set stringStickyTooltip = stringStickyTooltip ~tooltip %}
                                    {% set toolTipCounter = arrayHighlightedText[2] %}
                                    <td>{{ text | raw }}</td>
                                </tr>
                            {% endfor %}


                        </tbody>
                    </table>
                    <!-- here pagination block for abstracts -->
                    <div class="pagination">
                    {% if entityType == "genes" or entityType == "mutatedProteins" %}
                        {{ simple_paginator_render(
                            'search_' ~ entityType, 'abstracts',
                                {
                                    'routeParams' : {'entityType' : entityType, 'whatToSearch' : whatToSearch, 'entityName' : entityName, 'specie': specie},
                                    'container_class' : 'pagination'
                                }
                            )
                        }}
                    {% elseif entityType == "mutations"%}
                        {{ simple_paginator_render(
                            'search_mutations', 'abstracts',
                                {
                                    'routeParams' : {'entityType' : entityType, 'whatToSearch' : whatToSearch, 'entityName' : entityName, 'dna': dna, 'protein': protein},
                                    'container_class' : 'pagination'
                                }
                            )
                        }}
                    {% else %}
                        {{ simple_paginator_render(
                            'search_' ~ entityType, 'abstracts',
                                {
                                    'routeParams' : {'entityType' : entityType, 'whatToSearch' : whatToSearch, 'entityName' : entityName},
                                    'container_class' : 'pagination'
                                }
                            )
                        }}
                    {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endif %}
        {# Here we rebuild the stringStickyTooltip inside its container divs #}
        <div id="mystickytooltip" class="stickytooltip">
            <div style="padding:5px">
                {{ stringStickyTooltip | raw }}
            </div>
            <div class="stickystatus"></div>
        </div>
    {% include 'MelanomamineFrontendBundle:Search:scripts_code.html.twig' %}
{% endblock %}