<dl class="tabs">
        <dd class="active"><a href="#keywords" name="keywords" class="tab">Search Keyword</a></dd>
        <dd><a href="#genes" name="genes" class="tab">Genes</a></dd>
        <dd><a href="#mutations" name="mutations" class="tab">Mutations</a></dd>
        <dd><a href="#chemicals" name="chemicals" class="tab">Chemicals</a></dd>
        <dd><a href="#diseases" name="diseases" class="tab">Diseases</a></dd>
        <dd><a href="#mutatedProteins" name="mutatedProteins" class="tab">Mutated Proteins</a></dd>
</dl>
<ul class="tabs-content">
    <li class="active" id="keywordsTab">
        <div class="ui-widget">
            <div class="vis-break cntrtxt">
                {% if entityType == "keywords" %}
                    <input id="tags-keywords" class="ui-autocomplete-input text tags" onclick="this.value=''" placeholder="e.g. {{ default_keywordSearch }}" aria-haspopup="true" aria-autocomplete="list" role="textbox" autocomplete="off" value="{{ entityName }}">
                {% else %}
                    <input id="tags-keywords" class="ui-autocomplete-input text tags" onclick="this.value=''" placeholder="e.g. {{ default_keywordSearch }}" aria-haspopup="true" aria-autocomplete="list" role="textbox" autocomplete="off" value="{{ default_keywordSearch }}">
                {% endif %}
                <a class="button orange bigSearch" >Search</a>
            </div>

        </div>
        <div class="advanceSearch">
            <div class="large-4 columns">
                <form class="custom">
                    <fieldset>
                        <legend>What are you searching?</legend>

                                <span class="has-tip" title="Free-text search"><label for="radioWhatToSearch"><input name="keywordWhatToSearch" type="radio" id="radioKeywordWhatToSearch" style="display:none;" value="freeText" CHECKED><span class="custom radio"></span> Free-text Search</label></span>
                                <span  class="has-tip" title="Search in documents with Genes/Proteins"><label for="radioWhatToSearch"><input name="keywordWhatToSearch" type="radio" id="radioKeywordWhatToSearch" style="display:none;" value="withGenesProtein"><span class="custom radio"></span> With Genes/Protein</label></span>
                                <span  class="has-tip" title="Search in text with protein mutations"><label for="radioWhatToSearch"><input name="keywordWhatToSearch" type="radio" id="radioKeywordWhatToSearch" style="display:none;" value="withProteinMutations"><span class="custom radio"></span> With Protein Mutations</label></span>
                                <span  class="has-tip" title="Search in documents with SNPs"><label for="radioWhatToSearch"><input name="keywordWhatToSearch" type="radio" id="radioKeywordWhatToSearch" style="display:none;" value="withSNPs"><span class="custom radio"></span> With SNPs</label></span>
                                <span  class="has-tip" title="Search in documents with DNA mutations"><label for="radioWhatToSearch"><input name="keywordWhatToSearch" type="radio" id="radioKeywordWhatToSearch" style="display:none;" value="withDNAmutations" ><span class="custom radio"></span> With DNA Mutations</label></span>
                                <span  class="has-tip" title="Search in documents with Chemicals"><label for="radioWhatToSearch"><input name="keywordWhatToSearch" type="radio" id="radioKeywordWhatToSearch" style="display:none;" value="withChemicals"><span class="custom radio"></span> With Chemicals</label></span>
                                <span  class="has-tip" title="Search in documents with Drugs"><label for="radioWhatToSearch"><input name="keywordWhatToSearch" type="radio" id="radioKeywordWhatToSearch" style="display:none;" value="withDrugs"><span class="custom radio"></span> With Drugs</label></span>
                                <span  class="has-tip" title="Search in documents with Diseases"><label for="radioWhatToSearch"><input name="keywordWhatToSearch" type="radio" id="radioKeywordWhatToSearch" style="display:none;" value="withDiseases" ><span class="custom radio"></span> With Diseases</label></span>
                                <span  class="has-tip" title="Search in documents with mutated proteins"><label for="radioWhatToSearch"><input name="keywordWhatToSearch" type="radio" id="radioKeywordWhatToSearch" style="display:none;" value="withMutatedProteins" ><span class="custom radio"></span> With Mutated Proteins</label></span>
                    </fieldset>
                </form>
            </div>
        </div>
    </li>

    <li id="genesTab">
        <div class="ui-widget">
            <div class="vis-break cntrtxt">
                {% if entityType == "genes" %}
                    <input id="tags-genes" class="ui-autocomplete-input text tags" onclick="this.value=''" placeholder="e.g. {{ default_geneSearch }}" aria-haspopup="true" aria-autocomplete="list" role="textbox" autocomplete="off" value="{{ entityName }}">
                {% else %}
                    <input id="tags-genes" class="ui-autocomplete-input text tags" onclick="this.value=''" placeholder="e.g. {{ default_geneSearch }}" aria-haspopup="true" aria-autocomplete="list" role="textbox" autocomplete="off" value="{{ default_geneSearch }}">
                {% endif %}
                <a class="button orange bigSearch" >Search</a>
            </div>

        </div>
        <div class="advanceSearch row">
            <form class="custom">
                <div class="large-3 columns">
                    <fieldset>
                        <legend>What are you searching?</legend>
                            {% if ((whatToSearch == "geneProteinName") or (entityType != "genes") ) %}
                                <span class="has-tip" title="Search for Genes/Proteins names"><label for="radioWhatToSearch"><input name="geneWhatToSearch" type="radio" id="radioGeneWhatToSearch" style="display:none;" value="geneProteinName" CHECKED><span class="custom radio"></span> Genes/Proteins names</label></span>
                            {% else %}
                                <span class="has-tip" title="Search for Genes/Proteins names"><label for="radioWhatToSearch"><input name="geneWhatToSearch" type="radio" id="radioGeneWhatToSearch" style="display:none;" value="geneProteinName"><span class="custom radio"></span> Genes/Proteins names</label></span>
                            {% endif %}

                            {% if whatToSearch == "ncbiGenId" %}
                                <span  class="has-tip" title="Search for NCBI genID"><label for="radioWhatToSearch"><input name="geneWhatToSearch" type="radio" id="radioGeneWhatToSearch" style="display:none;" value="ncbiGenId" CHECKED><span class="custom radio"></span> NCBI geneID</label></span>
                            {% else %}
                                <span  class="has-tip" title="Search for NCBI genID"><label for="radioWhatToSearch"><input name="geneWhatToSearch" type="radio" id="radioGeneWhatToSearch" style="display:none;" value="ncbiGenId"><span class="custom radio"></span> NCBI geneID</label></span>
                            {% endif %}
                    </fieldset>
                </div>
                <div class="large-3 end columns">
                    <fieldset>
                        <legend>Human</legend>
                            <input type="checkbox" id="geneCheckbox" name="geneHuman" value="human"> (Yes / No)<br>
                    </fieldset>
                </div>
            </form>
        </div>
    </li>

    <li id="mutationsTab">
        <div class="ui-widget">
            <div class="vis-break cntrtxt">
                {% if entityType == "mutations" %}
                    <input id="tags-mutations" class="ui-autocomplete-input text tags" onclick="this.value=''" placeholder="e.g. {{ default_mutationSearch }}" aria-haspopup="true" aria-autocomplete="list" role="textbox" autocomplete="off" value="{{ entityName }}">
                {% else %}
                    <input id="tags-mutations" class="ui-autocomplete-input text tags" onclick="this.value=''" placeholder="e.g. {{ default_mutationSearch }}" aria-haspopup="true" aria-autocomplete="list" role="textbox" autocomplete="off" value="{{ default_mutationSearch }}">
                {% endif %}
                <a class="button orange bigSearch" >Search</a>
            </div>

        </div>
        <div class="advanceSearch row">
            <form class="custom">
                <div class="large-3 columns">
                    <fieldset>
                        <legend>What are you searching?</legend>

                            <span class="has-tip" title="Search for substitutions"><label for="radioWhatToSearch"><input name="mutationWhatToSearch" type="radio" id="radioMutationWhatToSearch" style="display:none;" value="substitutions" CHECKED><span class="custom radio"></span> Substitutions</label></span>
                            <span  class="has-tip" title="Search for insertions"><label for="radioWhatToSearch"><input name="mutationWhatToSearch" type="radio" id="radioMutationWhatToSearch" style="display:none;" value="insertions"><span class="custom radio"></span> Insertions</label></span>
                            <span  class="has-tip" title="Search for deletions"><label for="radioWhatToSearch"><input name="mutationWhatToSearch" type="radio" id="radioMutationWhatToSearch" style="display:none;" value="deletions"><span class="custom radio"></span> Deletions</label></span>
                            <span  class="has-tip" title="Search for INDELs"><label for="radioWhatToSearch"><input name="mutationWhatToSearch" type="radio" id="radioMutationWhatToSearch" style="display:none;" value="indels"><span class="custom radio"></span> INDELs</label></span>
                            <span  class="has-tip" title="Search for frameshifts"><label for="radioWhatToSearch"><input name="mutationWhatToSearch" type="radio" id="radioMutationWhatToSearch" style="display:none;" value="frameshifts" ><span class="custom radio"></span> Frameshifts</label></span>
                            <span  class="has-tip" title="Search for SNPs"><label for="radioWhatToSearch"><input name="mutationWhatToSearch" type="radio" id="radioMutationWhatToSearch" style="display:none;" value="snps"><span class="custom radio"></span> SNPs</label></span>
                            <span  class="has-tip" title="Search for All type of mutations"><label for="radioWhatToSearch"><input disabled name="mutationWhatToSearch" type="radio" id="radioMutationWhatToSearch" style="display:none;" value="all"><span class="custom radio"></span> All</label></span>
                    </fieldset>
                </div>
                <div class="large-3 columns end">
                    <fieldset>
                        <legend>DNA/Protein mutations</legend>
                            {% if dna is defined %}
                                {% if dna == "true" %}
                                    <input type="checkbox" id="mutationDNACheckbox" name="mutationDNA" value="dna" checked> DNA<br>
                                {% else %}
                                    <input type="checkbox" id="mutationDNACheckbox" name="mutationDNA" value="dna"> DNA<br>
                                {% endif %}
                            {% else %}
                                <input type="checkbox" id="mutationDNACheckbox" name="mutationDNA" value="dna"> DNA<br>
                            {% endif %}
                            {% if protein is defined %}
                                {% if protein == "true" %}
                                    <input type="checkbox" id="mutationProteinCheckbox" name="mutationProtein" value="protein" checked> Protein<br>
                                {% else %}
                                    <input type="checkbox" id="mutationProteinCheckbox" name="mutationProtein" value="protein"> Protein<br>
                                {% endif %}
                            {% else %}
                                <input type="checkbox" id="mutationProteinCheckbox" name="mutationProtein" value="protein" checked> Protein<br>
                            {% endif %}

                    </fieldset>
                </div>
            </form>
        </div>
    </li>

    <li id="chemicalsTab">
        <div class="ui-widget">
            <div class="vis-break cntrtxt">
                {% if entityType == "chemicals" %}
                    <input id="tags-chemicals" class="ui-autocomplete-input text tags" onclick="this.value=''" placeholder="e.g. {{ default_chemicalSearch }}" aria-haspopup="true" aria-autocomplete="list" role="textbox" autocomplete="off" value="{{ entityName }}">
                {% else %}
                    <input id="tags-chemicals" class="ui-autocomplete-input text tags" onclick="this.value=''" placeholder="e.g. {{ default_chemicalSearch }}" aria-haspopup="true" aria-autocomplete="list" role="textbox" autocomplete="off" value="{{ default_chemicalSearch }}">
                {% endif %}
                <a class="button orange bigSearch" >Search</a>
            </div>

        </div>
        <div class="advanceSearch">
            <div class="large-4 columns">
                <form class="custom">
                    <fieldset>
                        <legend>What are you searching?</legend>

                            <span class="has-tip" title="Chemical/compound name"><label for="radioWhatToSearch"><input name="chemicalWhatToSearch" type="radio" id="radioChemicalWhatToSearch" style="display:none;" value="name" CHECKED><span class="custom radio"></span> Name</label></span>
                            <span  class="has-tip" title="Chemical compound database identifier (Drugbank, ChEBI, PubChem Compound, PubChem Substance, CAS RN, Human Metabolome Database, KEGG Compound, KEGG Drug, MeSH Substance)"><label for="radioWhatToSearch"><input name="chemicalWhatToSearch" type="radio" id="radioChemicalWhatToSearch" style="display:none;" value="id" DISABLED><span class="custom radio"></span> Chemical Identifiers</label></span>
                            <span  class="has-tip" title="SMILES Formula(Simplified Molecular-Input Line-Entry System). Only exact match search is currently enabled. See: http://en.wikipedia.org/wiki/Simplified_molecular-input_line-entry_system"><label for="radioWhatToSearch"><input name="chemicalWhatToSearch" type="radio" id="radioChemicalWhatToSearch" style="display:none;" value="smiles" DISABLED><span class="custom radio"></span> SMILES</label></span>
                            <span  class="has-tip" title="S IUPAC International Chemical Identifier (InChi). Only exact match search is currently enabled. See: http://www.iupac.org/home/publications/e-resources/inchi.html"><label for="radioWhatToSearch"><input name="chemicalWhatToSearch" type="radio" id="radioChemicalWhatToSearch" style="display:none;" value="inchis" DISABLED><span class="custom radio"></span> InChi</label></span>
                            <span  class="has-tip" title="Free text search within chemicals mentioning sentences"><label for="radioWhatToSearch"><input name="chemicalWhatToSearch" type="radio" id="radioChemicalWhatToSearch" style="display:none;" value="any" DISABLED><span class="custom radio"></span> Any (Free search)</label></span>
                    </fieldset>
                </form>
            </div>
        </div>
    </li>

    <li id="diseasesTab">
        <div class="ui-widget">
            <div class="vis-break cntrtxt">
                {% if entityType == "diseases" %}
                    <input id="tags-diseases" class="ui-autocomplete-input text tags" onclick="this.value=''" placeholder="e.g. {{ default_diseaseSearch }}" aria-haspopup="true" aria-autocomplete="list" role="textbox" autocomplete="off" value="{{ entityName }}">
                {% else %}
                    <input id="tags-diseases" class="ui-autocomplete-input text tags" onclick="this.value=''" placeholder="e.g. {{ default_diseaseSearch }}" aria-haspopup="true" aria-autocomplete="list" role="textbox" autocomplete="off" value="{{ default_diseaseSearch }}">
                {% endif %}
                <a class="button orange bigSearch" >Search</a>
            </div>

        </div>
        <div class="advanceSearch">
            <div class="large-4 columns">
                <form class="custom">
                    <fieldset>
                        <legend>What are you searching?</legend>

                            <span class="has-tip" title="Search for disease name"><label for="radioWhatToSearch"><input name="diseaseWhatToSearch" type="radio" id="radioDiseaseWhatToSearch" style="display:none;" value="name" CHECKED><span class="custom radio"></span> Disease name</label></span>
                            <span  class="has-tip" title="Search for MeSH id"><label for="radioWhatToSearch"><input name="diseaseWhatToSearch" type="radio" id="radioDiseaseWhatToSearch" style="display:none;" value="meshId"><span class="custom radio"></span> MeSH id</label></span>
                            <span  class="has-tip" title="Search for OMMIM id"><label for="radioWhatToSearch"><input name="diseaseWhatToSearch" type="radio" id="radioDiseaseWhatToSearch" style="display:none;" value="ommimId"><span class="custom radio"></span> OMMIM id</label></span>
                    </fieldset>
                </form>
            </div>
        </div>
    </li>

    <li id="mutatedProteinsTab">
        <div class="ui-widget">
            <div class="vis-break cntrtxt">
                {% if entityType == "mutatedProteins" %}
                    <input id="tags-mutatedProteins" class="ui-autocomplete-input text tags" onclick="this.value=''" placeholder="e.g. {{ default_mutatedProteinSearch }}" aria-haspopup="true" aria-autocomplete="list" role="textbox" autocomplete="off" value="{{ entityName }}">
                {% else %}
                    <input id="tags-mutatedProteins" class="ui-autocomplete-input text tags" onclick="this.value=''" placeholder="e.g. {{ default_mutatedProteinSearch }}" aria-haspopup="true" aria-autocomplete="list" role="textbox" autocomplete="off" value="{{ default_mutatedProteinSearch }}">
                {% endif %}
                <a class="button orange bigSearch" >Search</a>
            </div>

        </div>
        <div class="advanceSearch row">
            <form class="custom">
                <div class="large-3 columns">
                    <fieldset>
                        <legend>What are you searching?</legend>

                            <span class="has-tip" title="Search for Protein Names"><label for="radioWhatToSearch"><input name="mutatedProteinWhatToSearch" type="radio" id="radioMutatedProteinWhatToSearch" style="display:none;" value="proteinName" CHECKED><span class="custom radio"></span> Protein name</label></span>
                            <span class="has-tip" title="Search for Mutation Names"><label for="radioWhatToSearch"><input name="mutatedProteinWhatToSearch" type="radio" id="radioMutatedProteinWhatToSearch" style="display:none;" value="mutationName"><span class="custom radio"></span> Mutation name</label></span>
                            <span  class="has-tip" title="Search for Uniprot Accession"><label for="radioWhatToSearch"><input name="mutatedProteinWhatToSearch" type="radio" id="radioMutatedProteinWhatToSearch" style="display:none;" value="uniprotAccession"><span class="custom radio"></span> Uniprot Accession</label></span>
                            <span  class="has-tip" title="Search for NCBI GeneId"><label for="radioWhatToSearch"><input name="mutatedProteinWhatToSearch" type="radio" id="radioMutatedProteinWhatToSearch" style="display:none;" value="geneId"><span class="custom radio"></span> NCBI GeneId</label></span>
                    </fieldset>
                </div>
                 <div class="large-3 end columns">
                    <fieldset>
                        <legend>Human</legend>
                            <input type="checkbox" id="mutatedProteinCheckbox" name="mutatedProteinHuman" value="human"> (Yes / No)<br>
                    </fieldset>
                </div>
            </form>
        </div>
    </li>
</ul>
<div class="clear-both"></div>